alembic
blinker
click
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
psycopg2-binary
python-dotenv
PyJWT
SQLAlchemy
typing_extensions
Werkzeug
Flask-Mail
APScheduler
python-dateutil
